:root{
  --size-width:900px;
  --icon-size: 40px;
  --stnid-size: 50px;
  --stnid-font-size: .9em;
}

html,
body {
  width:100%;
  height:100%;
  overflow:hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next{width:100%;height:100%;overflow:auto}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* MENU */
nav{width:var(--size-width);width:100%}
ul.gnb{margin:0;padding:0;display:flex;align-content:flex-start;flex-direction:row;flex-wrap:wrap;justify-content:space-around}
ul.gnb li{list-style:none;flex-grow:1;}

/* subway icon */
a.selectMetro{color:#FFFFFF;text-align:center;padding:5px 25px;display:block;user-select:none;-moz-user-select:none;-webkit-user-select:none;width:100%;}
a.selectMetro::before{content:"";background:url(/train.png);background-size:cover;width:var(--icon-size);height:var(--icon-size);display:block;filter:invert(100%);margin:2px auto}

/* 배경 색상 */
.bg{color:#fff;font-weight:bold}
.bg.line_1{background:#0053A3}
.bg.line_2{background:#009E3E}
.bg.line_3{background:#EF7B1B}
.bg.line_4{background:#00A5DE}
.bg.line_5{background:#986CAC}
.bg.line_6{background:#CD7D2F}
.bg.line_7{background:#738000}
.bg.line_8{background:#EA535D}
.bg.line_9{background:#BDB091}
.bg.line_suinbundang{background:#F5A201}
.bg.line_gyeongjung{background:#77C4A3}
.bg.line_gyeongchun{background:#0C8E71}
.bg.line_seohae{background:#80A912}
.bg.line_incheon1{background:#7BA8D5}
.bg.line_incheon2{background:#ED8B00}
.bg.line_yonginever{background:#4F9F21}
.bg.line_gimpogold{background:#A17900}
.bg.line_ui{background:#B0CE19}
.bg.line_shinrim{background:#6789CA}
.bg.line_shinbundang{background:#D3013B}
.bg.line_airport{background:#0390D1}
.bg.line_ul{background: #FDA600}

/* 글자 색상 */
.fc{background:transparent;font-weight:bold}
.fc.line_1{color:#0053A3}
.fc.line_2{color:#009E3E}
.fc.line_3{color:#EF7B1B}
.fc.line_4{color:#00A5DE}
.fc.line_5{color:#986CAC}
.fc.line_6{color:#CD7D2F}
.fc.line_7{color:#738000}
.fc.line_8{color:#EA535D}
.fc.line_9{color:#BDB091}
.fc.line_suinbundang{color:#F5A201}
.fc.line_gyeongjung{color:#77C4A3}
.fc.line_gyeongchun{color:#0C8E71}
.fc.line_seohae{color:#80A912}
.fc.line_incheon1{color:#7BA8D5}
.fc.line_incheon2{color:#ED8B00}
.fc.line_yonginever{color:#4F9F21}
.fc.line_gimpogold{color:#A17900}
.fc.line_ui{color:#B0CE19}
.fc.line_shinrim{color:#6789CA}
.fc.line_shinbundang{color:#D3013B}
.fc.line_airport{color:#0390D1}
.fc.line_ul{color: #FDA600}

/* 글자 색상 */
.bd{background:transparent;font-weight:bold;border-width:3px}
.bd.line_1{border-color:#0053A3}
.bd.line_2{border-color:#009E3E}
.bd.line_3{border-color:#EF7B1B}
.bd.line_4{border-color:#00A5DE}
.bd.line_5{border-color:#986CAC}
.bd.line_6{border-color:#CD7D2F}
.bd.line_7{border-color:#738000}
.bd.line_8{border-color:#EA535D}
.bd.line_9{border-color:#BDB091}
.bd.line_suinbundang{border-color:#F5A201}
.bd.line_gyeongjung{border-color:#77C4A3}
.bd.line_gyeongchun{border-color:#0C8E71}
.bd.line_seohae{border-color:#80A912}
.bd.line_incheon1{border-color:#7BA8D5}
.bd.line_incheon2{border-color:#ED8B00}
.bd.line_yonginever{border-color:#4F9F21}
.bd.line_gimpogold{border-color:#A17900}
.bd.line_ui{border-color:#B0CE19}
.bd.line_shinrim{border-color:#6789CA}
.bd.line_shinbundang{border-color:#D3013B}
.bd.line_airport{border-color:#0390D1}
.bd.line_ul{border-color: #ec9f19;}

/* 역 목록 */
main{width:100%;min-height:100%;background:#fcfcfc;display:block;display:flex;flex-direction:column}
div.header{width:100%;height:60px;font-size:14pt;font-weight:bold;display:flex;align-items:center;justify-content:center;}
div.row{width:100%;height:auto;border-bottom:1px solid #ddd;text-align:center;display:flex;flex-direction:row;justify-content: center;}
div.row .direction_down{width:calc(50% - 110px)}
div.row .direction_down .down_approach, 
div.row .direction_down .down_arrival,
div.row .direction_down .down_leave {width:100%;height:calc(100% / 3);display:block}
div.row .station_info{width:110px;height:120px;padding:15px 0px;display:flex;justify-content:center;align-items:center;}
div.row .station_info span{display:block}
div.row .direction_up{width:calc(50% - 110px)}
div.row .direction_up .up_leave, 
div.row .direction_up .up_arrival,
div.row .direction_up .up_approach {width:100%;height:calc(100% / 3);display:block}

/* 역번호 표기 */
.StnId{display:block;border-radius:50%;width:var(--stnid-size);height:var(--stnid-size);line-height:var(--stnid-size);text-align:center;margin:0px auto;font-size:100%;font-size:var(--stnid-font-size);}
.StnName{display:block;margin-top:5px;font-size:.8em}
ul.transferLine{margin:0;padding:0;display:block;}
ul.transferLine li{display:block}
ul.transferLine li.transferIcon{display:inline-block;margin:2px;width:25px;height:25px;font-size:8px;overflow-wrap:hidden;line-height:12px;border-radius:50%;border-width:2px;border-style:solid;padding:4px 4px}
/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  
}*/


