:root{
  --size-width:900px;
  --icon-size: 40px;
  --stnid-size: 50px;
  --stnid-font-size: .9em;

  /* 수도권 전철 컬러 */
  --line_n1-color: #0053A3;
  --line_n2-color: #009E3E;
  --line_n3-color: #EF7B1B;
  --line_n4-color: #00A5DE;
  --line_n5-color: #986CAC;
  --line_n6-color: #CD7D2F;
  --line_n7-color: #738000;
  --line_n8-color: #EA535D;
  --line_n9-color: #BDB091;
  --line_suinbundang-color: #F5A201;
  --line_gyeongjung-color: #77C4A3;
  --line_gyeongchun-color: #0C8E71;
  --line_seohae-color: #80A912;
  --line_incheon1-color: #7BA8D5;
  --line_incheon2-color: #ED8B00;
  --line_yonginever-color: #4F9F21;
  --line_gimpogold-color: #A17900;
  --line_ui-color: #B0CE19;
  --line_shinrim-color: #6789CA;
  --line_shinbundang-color: #D3013B;
  --line_airport-color: #0390D1;
  --line_ul-color: #FDA600;
}

html,
body {
  width:100%;
  height:100%;
  overflow:hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next{width:100%;height:100%;overflow:auto}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* MENU */
nav{width:var(--size-width);width:100%}
ul.gnb{margin:0;padding:0;display:flex;align-content:flex-start;flex-direction:row;flex-wrap:wrap;justify-content:space-around}
ul.gnb li{list-style:none;flex-grow:1;}

/* subway icon */
a.selectMetro{color:#FFFFFF;text-align:center;padding:5px 25px;display:block;user-select:none;-moz-user-select:none;-webkit-user-select:none;width:100%;}
a.selectMetro::before{content:"";background:url(/train.png);background-size:cover;width:var(--icon-size);height:var(--icon-size);display:block;filter:invert(100%);margin:2px auto}

/* 배경 색상 */
.bg{color:#fff;font-weight:bold}
.bg.line_1{background:var(--line_n1-color)}
.bg.line_2{background:var(--line_n2-color)}
.bg.line_3{background:var(--line_n3-color)}
.bg.line_4{background:var(--line_n4-color)}
.bg.line_5{background:var(--line_n5-color)}
.bg.line_6{background:var(--line_n6-color)}
.bg.line_7{background:var(--line_n7-color)}
.bg.line_8{background:var(--line_n8-color)}
.bg.line_9{background:var(--line_n9-color)}
.bg.line_suinbundang{background:var(--line_suinbundang-color)}
.bg.line_gyeongjung{background:var(--line_gyeongjung-color)}
.bg.line_gyeongchun{background:var(--line_gyeongchun-color)}
.bg.line_seohae{background:var(--line_seohae-color)}
.bg.line_incheon1{background:var(--line_incheon1-color)}
.bg.line_incheon2{background:var(--line_incheon2-color)}
.bg.line_yonginever{background:var(--line_yonginever-color)}
.bg.line_gimpogold{background:var(--line_gimpogold-color)}
.bg.line_ui{background:var(--line_ui-color)}
.bg.line_shinrim{background:var(--line_shinrim-color)}
.bg.line_shinbundang{background:var(--line_shinbundang-color)}
.bg.line_airport{background:var(--line_airport-color)}
.bg.line_ul{background:var(--line_ul-color)}

/* 글자 색상 */
.fc{background:transparent;font-weight:bold}
.fc.line_1{color:var(--line_n1-color)}
.fc.line_2{color:var(--line_n2-color)}
.fc.line_3{color:var(--line_n3-color)}
.fc.line_4{color:var(--line_n4-color)}
.fc.line_5{color:var(--line_n5-color)}
.fc.line_6{color:var(--line_n6-color)}
.fc.line_7{color:var(--line_n7-color)}
.fc.line_8{color:var(--line_n8-color)}
.fc.line_9{color:var(--line_n9-color)}
.fc.line_suinbundang{color:var(--line_suinbundang-color)}
.fc.line_gyeongjung{color:var(--line_gyeongjung-color)}
.fc.line_gyeongchun{color:var(--line_gyeongchun-color)}
.fc.line_seohae{color:var(--line_seohae-color)}
.fc.line_incheon1{color:var(--line_incheon1-color)}
.fc.line_incheon2{color:var(--line_incheon2-color)}
.fc.line_yonginever{color:var(--line_yonginever-color)}
.fc.line_gimpogold{color:var(--line_gimpogold-color)}
.fc.line_ui{color:var(--line_ui-color)}
.fc.line_shinrim{color:var(--line_shinrim-color)}
.fc.line_shinbundang{color:var(--line_shinbundang-color)}
.fc.line_airport{color:var(--line_airport-color)}
.fc.line_ul{color: var(--line_ul-color)}

/* 글자 색상 */
.bd{background:transparent;font-weight:bold;border-width:3px}
.bd.line_1{border-color:var(--line_n1-color)}
.bd.line_2{border-color:var(--line_n2-color)}
.bd.line_3{border-color:var(--line_n3-color)}
.bd.line_4{border-color:var(--line_n4-color)}
.bd.line_5{border-color:var(--line_n5-color)}
.bd.line_6{border-color:var(--line_n6-color)}
.bd.line_7{border-color:var(--line_n7-color)}
.bd.line_8{border-color:var(--line_n8-color)}
.bd.line_9{border-color:var(--line_n9-color)}
.bd.line_suinbundang{border-color:var(--line_suinbundang-color)}
.bd.line_gyeongjung{border-color:var(--line_gyeongjung-color)}
.bd.line_gyeongchun{border-color:var(--line_gyeongchun-color)}
.bd.line_seohae{border-color:var(--line_seohae-color)}
.bd.line_incheon1{border-color:var(--line_incheon1-color)}
.bd.line_incheon2{border-color:var(--line_incheon2-color)}
.bd.line_yonginever{border-color:var(--line_yonginever-color)}
.bd.line_gimpogold{border-color:var(--line_gimpogold-color)}
.bd.line_ui{border-color:var(--line_ui-color)}
.bd.line_shinrim{border-color:var(--line_shinrim-color)}
.bd.line_shinbundang{border-color:var(--line_shinbundang-color)}
.bd.line_airport{border-color:var(--line_airport-color)}
.bd.line_ul{border-color: var(--line_ul-color)}

/* 역 목록 */
main{width:100%;min-height:100%;background:#fcfcfc;display:block;display:flex;flex-direction:column}
div.__appHeader{width:100%;height:60px;font-size:14pt;font-weight:bold;display:flex;align-items:center;justify-content:center;position:fixed;z-index:9999;background:#fff;text-align:center;font-size:1.2rem}
div.__appHeader .menuLink{width:25px;}
div.__appHeader .lineName{width:calc(100% - 30px);margin-left:-20px}
div.__appBody{width:100%;height:calc(100%-60px);margin-top:60px}
div.row{width:100%;height:auto;border-bottom:1px solid #ddd;text-align:center;display:flex;flex-direction:row;justify-content: center;}
div.row .station_info{width:110px;height:120px;padding:15px 0px;display:flex;justify-content:center;align-items:center;}
div.row .station_info span{display:block}
div.row .direction{width:calc(50% - 110px);display:flex;justify-content:center;}
div.row .direction .direction_up,div.row .direction .direction_down{width:100%;display:flex;justify-content:center;}
div.row .direction .direction_up.leave{align-items:flex-start}
div.row .direction .direction_down.leave{align-items:flex-end}
div.row .direction .direction_up.arrival,div.row .direction_down.arrival{align-items:center}
div.row .direction .direction_up.approach{align-items:flex-end}
div.row .direction .direction_down.approach{align-items:flex-start}

/* 각 노선별 선로 배경 보여주기 */
.direction .rows{width:6px;height:100%;position:absolute;z-index:-1}
.rows.line_1{background:var(--line_n1-color);}
.rows.line_2{background:var(--line_n2-color);}
.rows.line_3{background:var(--line_n3-color);}
.rows.line_4{background:var(--line_n4-color);}
.rows.line_5{background:var(--line_n5-color);}

/* 역번호 표기 */
.StnId{display:block;border-radius:50%;width:var(--stnid-size);height:var(--stnid-size);line-height:var(--stnid-size);text-align:center;margin:0px auto;font-size:100%;font-size:var(--stnid-font-size);}
.StnName{display:block;margin-top:5px;font-size:.8em}
ul.transferLine{margin:0;padding:0;display:block;}
ul.transferLine li{display:block}
ul.transferLine li.transferIcon{display:inline-block;margin:2px;width:25px;height:25px;font-size:8px;overflow-wrap:hidden;line-height:12px;border-radius:50%;border-width:2px;border-style:solid;padding:4px 4px}
/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  
}*/


